html,
body,
#app {
  margin: 0;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

a {
  color: white;
}
a:active,
a:focus {
  color: #f15b2a;
}

#app {
  margin: 0 20px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5c8545b5348cd967825a22e1/1554340131158-5J69EURDHIAYQJJYPFPL/ke17ZwdGBToddI8pDm48kO4guELqrbhxX1k2T-bY4I8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKca5wmnK7yQ-eHoGCaKe7lJ9hh35HdB3mzW3eZhEV0C_yMZ23cwwZuxGZgozZd_8qd/network+background.png?format=1500w");
  background-size: cover;
}

nav {
  padding: 20px 0 20px 0;
}
