html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

a {
  color: white;
}
a:active,
a:focus {
  color: #f15b2a;
}

#app {
  margin: 0 auto;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5c8545b5348cd967825a22e1/1554340131158-5J69EURDHIAYQJJYPFPL/ke17ZwdGBToddI8pDm48kO4guELqrbhxX1k2T-bY4I8UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKca5wmnK7yQ-eHoGCaKe7lJ9hh35HdB3mzW3eZhEV0C_yMZ23cwwZuxGZgozZd_8qd/network+background.png?format=1500w");
  background-size: cover;
}

nav {
  padding: 20px 0 20px 0;
}

.select {
  box-shadow: "0 10px 10px 0 rgba(0, 0, 0, 0.12), 0 20px 20px 0 rgba(0, 0, 0, 0.219)";
  background-color: #1f1e36;
  border-radius: 5px;
  border: solid 1px;
  color: #fff;
}

.dashboard-container {
  margin: 0 auto;
  min-width: 80%;
  height: 100%;
  border-radius: 5px;
  background-color: blanchedalmond;
}
select:focus {
  outline: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.chart-icon {
  background-color: #1f1e36;
  border: 0px;
}

.text-app-color {
  color: white;
}
